
h1 {
  font-size: 2rem;
  background-size: cover;
  background-position: center;
}
.work
{
  list-style: none;
}
.work li
{
  display: inline;
}
.logo img
{
  width:auto;
  height: 200px;
  float: left;
  margin-top: -55px;
  margin-left:30px;
}

.worktwice
{
  border: 5px solid blue;
}